.app__mt2__country__ad {background-position: 50% 0;}
.app__mt2__country__ae {background-position: 50% 0.49751244%;}
.app__mt2__country__af {background-position: 50% 0.99502488%;}
.app__mt2__country__ag {background-position: 50% 1.49253731%;}
.app__mt2__country__al {background-position: 50% 1.99004975%;}
.app__mt2__country__am {background-position: 50% 2.48756219%;}
.app__mt2__country__ar {background-position: 50% 2.98507463%;}
.app__mt2__country__at {background-position: 50% 3.48258706%;}
.app__mt2__country__au {background-position: 50% 3.9800995%;}
.app__mt2__country__az {background-position: 50% 4.47761194%;}
.app__mt2__country__ba {background-position: 50% 4.97512438%;}
.app__mt2__country__bb {background-position: 50% 5.47263682%;}
.app__mt2__country__bd {background-position: 50% 5.97014925%;}
.app__mt2__country__be {background-position: 50% 6.46766169%;}
.app__mt2__country__bf {background-position: 50% 6.96517413%;}
.app__mt2__country__bg {background-position: 50% 7.46268657%;}
.app__mt2__country__bh {background-position: 50% 7.960199%;}
.app__mt2__country__bi {background-position: 50% 8.45771144%;}
.app__mt2__country__bj {background-position: 50% 8.95522388%;}
.app__mt2__country__bn {background-position: 50% 9.45273632%;}
.app__mt2__country__bo {background-position: 50% 9.95024876%;}
.app__mt2__country__br {background-position: 50% 10.44776119%;}
.app__mt2__country__bs {background-position: 50% 10.94527363%;}
.app__mt2__country__bt {background-position: 50% 11.44278607%;}
.app__mt2__country__bw {background-position: 50% 11.94029851%;}
.app__mt2__country__by {background-position: 50% 12.43781095%;}
.app__mt2__country__bz {background-position: 50% 12.93532338%;}
.app__mt2__country__ca {background-position: 50% 13.43283582%;}
.app__mt2__country__cd {background-position: 50% 13.93034826%;}
.app__mt2__country__cf {background-position: 50% 14.4278607%;}
.app__mt2__country__cg {background-position: 50% 14.92537313%;}
.app__mt2__country__ch {background-position: 50% 15.42288557%;}
.app__mt2__country__ci {background-position: 50% 15.92039801%;}
.app__mt2__country__cl {background-position: 50% 16.41791045%;}
.app__mt2__country__cm {background-position: 50% 16.91542289%;}
.app__mt2__country__cn {background-position: 50% 17.41293532%;}
.app__mt2__country__co {background-position: 50% 17.91044776%;}
.app__mt2__country__cr {background-position: 50% 18.4079602%;}
.app__mt2__country__cu {background-position: 50% 18.90547264%;}
.app__mt2__country__cv {background-position: 50% 19.40298507%;}
.app__mt2__country__cy {background-position: 50% 19.90049751%;}
.app__mt2__country__cz {background-position: 50% 20.39800995%;}
.app__mt2__country__de {background-position: 50% 20.89552239%;}
.app__mt2__country__dj {background-position: 50% 21.39303483%;}
.app__mt2__country__dk {background-position: 50% 21.89054726%;}
.app__mt2__country__dm {background-position: 50% 22.3880597%;}
.app__mt2__country__do {background-position: 50% 22.88557214%;}
.app__mt2__country__dz {background-position: 50% 23.38308458%;}
.app__mt2__country__ec {background-position: 50% 23.88059701%;}
.app__mt2__country__ee {background-position: 50% 24.37810945%;}
.app__mt2__country__eg {background-position: 50% 24.87562189%;}
.app__mt2__country__en {background-position: 50% 25.37313433%;}
.app__mt2__country__er {background-position: 50% 25.87064677%;}
.app__mt2__country__es {background-position: 50% 26.3681592%;}
.app__mt2__country__et {background-position: 50% 26.86567164%;}
.app__mt2__country__fi {background-position: 50% 27.36318408%;}
.app__mt2__country__fj {background-position: 50% 27.86069652%;}
.app__mt2__country__fm {background-position: 50% 28.35820896%;}
.app__mt2__country__fr {background-position: 50% 28.85572139%;}
.app__mt2__country__ga {background-position: 50% 29.35323383%;}
.app__mt2__country__gb {background-position: 50% 29.85074627%;}
.app__mt2__country__gd {background-position: 50% 30.34825871%;}
.app__mt2__country__ge {background-position: 50% 30.84577114%;}
.app__mt2__country__gh {background-position: 50% 31.34328358%;}
.app__mt2__country__gm {background-position: 50% 31.84079602%;}
.app__mt2__country__gn {background-position: 50% 32.33830846%;}
.app__mt2__country__gq {background-position: 50% 32.8358209%;}
.app__mt2__country__gr {background-position: 50% 33.33333333%;}
.app__mt2__country__gt {background-position: 50% 33.83084577%;}
.app__mt2__country__gw {background-position: 50% 34.32835821%;}
.app__mt2__country__gy {background-position: 50% 34.82587065%;}
.app__mt2__country__hn {background-position: 50% 35.32338308%;}
.app__mt2__country__hr {background-position: 50% 35.82089552%;}
.app__mt2__country__ht {background-position: 50% 36.31840796%;}
.app__mt2__country__hu {background-position: 50% 36.8159204%;}
.app__mt2__country__id {background-position: 50% 37.31343284%;}
.app__mt2__country__ie {background-position: 50% 37.81094527%;}
.app__mt2__country__il {background-position: 50% 38.30845771%;}
.app__mt2__country__in {background-position: 50% 38.80597015%;}
.app__mt2__country__iq {background-position: 50% 39.30348259%;}
.app__mt2__country__ir {background-position: 50% 39.80099502%;}
.app__mt2__country__is {background-position: 50% 40.29850746%;}
.app__mt2__country__it {background-position: 50% 40.7960199%;}
.app__mt2__country__jm {background-position: 50% 41.29353234%;}
.app__mt2__country__jo {background-position: 50% 41.79104478%;}
.app__mt2__country__jp {background-position: 50% 42.28855721%;}
.app__mt2__country__ke {background-position: 50% 42.78606965%;}
.app__mt2__country__kg {background-position: 50% 43.28358209%;}
.app__mt2__country__kh {background-position: 50% 43.78109453%;}
.app__mt2__country__ki {background-position: 50% 44.27860697%;}
.app__mt2__country__km {background-position: 50% 44.7761194%;}
.app__mt2__country__kn {background-position: 50% 45.27363184%;}
.app__mt2__country__kp {background-position: 50% 45.77114428%;}
.app__mt2__country__kr {background-position: 50% 46.26865672%;}
.app__mt2__country__kw {background-position: 50% 46.76616915%;}
.app__mt2__country__kz {background-position: 50% 47.26368159%;}
.app__mt2__country__la {background-position: 50% 47.76119403%;}
.app__mt2__country__lb {background-position: 50% 48.25870647%;}
.app__mt2__country__lc {background-position: 50% 48.75621891%;}
.app__mt2__country__li {background-position: 50% 49.25373134%;}
.app__mt2__country__lk {background-position: 50% 49.75124378%;}
.app__mt2__country__lr {background-position: 50% 50.24875622%;}
.app__mt2__country__ls {background-position: 50% 50.74626866%;}
.app__mt2__country__lt {background-position: 50% 51.24378109%;}
.app__mt2__country__lu {background-position: 50% 51.74129353%;}
.app__mt2__country__lv {background-position: 50% 52.23880597%;}
.app__mt2__country__ly {background-position: 50% 52.73631841%;}
.app__mt2__country__ma {background-position: 50% 53.23383085%;}
.app__mt2__country__mc {background-position: 50% 53.73134328%;}
.app__mt2__country__md {background-position: 50% 54.22885572%;}
.app__mt2__country__me {background-position: 50% 54.72636816%;}
.app__mt2__country__mg {background-position: 50% 55.2238806%;}
.app__mt2__country__mh {background-position: 50% 55.72139303%;}
.app__mt2__country__mk {background-position: 50% 56.21890547%;}
.app__mt2__country__ml {background-position: 50% 56.71641791%;}
.app__mt2__country__mm {background-position: 50% 57.21393035%;}
.app__mt2__country__mn {background-position: 50% 57.71144279%;}
.app__mt2__country__mr {background-position: 50% 58.20895522%;}
.app__mt2__country__mt {background-position: 50% 58.70646766%;}
.app__mt2__country__mu {background-position: 50% 59.2039801%;}
.app__mt2__country__mv {background-position: 50% 59.70149254%;}
.app__mt2__country__mw {background-position: 50% 60.19900498%;}
.app__mt2__country__mx {background-position: 50% 60.69651741%;}
.app__mt2__country__my {background-position: 50% 61.19402985%;}
.app__mt2__country__mz {background-position: 50% 61.69154229%;}
.app__mt2__country__na {background-position: 50% 62.18905473%;}
.app__mt2__country__ne {background-position: 50% 62.68656716%;}
.app__mt2__country__ng {background-position: 50% 63.1840796%;}
.app__mt2__country__ni {background-position: 50% 63.68159204%;}
.app__mt2__country__nir {background-position: 50% 64.17910448%;}
.app__mt2__country__nl {background-position: 50% 64.67661692%;}
.app__mt2__country__no {background-position: 50% 65.17412935%;}
.app__mt2__country__np {background-position: 50% 65.67164179%;}
.app__mt2__country__nr {background-position: 50% 66.16915423%;}
.app__mt2__country__nz {background-position: 50% 66.66666667%;}
.app__mt2__country__om {background-position: 50% 67.1641791%;}
.app__mt2__country__pa {background-position: 50% 67.66169154%;}
.app__mt2__country__pe {background-position: 50% 68.15920398%;}
.app__mt2__country__pg {background-position: 50% 68.65671642%;}
.app__mt2__country__ph {background-position: 50% 69.15422886%;}
.app__mt2__country__pk {background-position: 50% 69.65174129%;}
.app__mt2__country__pl {background-position: 50% 70.14925373%;}
.app__mt2__country__pt {background-position: 50% 70.64676617%;}
.app__mt2__country__pw {background-position: 50% 71.14427861%;}
.app__mt2__country__py {background-position: 50% 71.64179104%;}
.app__mt2__country__qa {background-position: 50% 72.13930348%;}
.app__mt2__country__ro {background-position: 50% 72.63681592%;}
.app__mt2__country__rs {background-position: 50% 73.13432836%;}
.app__mt2__country__ru {background-position: 50% 73.6318408%;}
.app__mt2__country__rw {background-position: 50% 74.12935323%;}
.app__mt2__country__sa {background-position: 50% 74.62686567%;}
.app__mt2__country__sb {background-position: 50% 75.12437811%;}
.app__mt2__country__sc {background-position: 50% 75.62189055%;}
.app__mt2__country__sco {background-position: 50% 76.11940299%;}
.app__mt2__country__sd {background-position: 50% 76.61691542%;}
.app__mt2__country__se {background-position: 50% 77.11442786%;}
.app__mt2__country__sg {background-position: 50% 77.6119403%;}
.app__mt2__country__si {background-position: 50% 78.10945274%;}
.app__mt2__country__sk {background-position: 50% 78.60696517%;}
.app__mt2__country__sl {background-position: 50% 79.10447761%;}
.app__mt2__country__sm {background-position: 50% 79.60199005%;}
.app__mt2__country__sn {background-position: 50% 80.09950249%;}
.app__mt2__country__so {background-position: 50% 80.59701493%;}
.app__mt2__country__sr {background-position: 50% 81.09452736%;}
.app__mt2__country__ss {background-position: 50% 81.5920398%;}
.app__mt2__country__st {background-position: 50% 82.08955224%;}
.app__mt2__country__sv {background-position: 50% 82.58706468%;}
.app__mt2__country__sy {background-position: 50% 83.08457711%;}
.app__mt2__country__sz {background-position: 50% 83.58208955%;}
.app__mt2__country__td {background-position: 50% 84.07960199%;}
.app__mt2__country__tg {background-position: 50% 84.57711443%;}
.app__mt2__country__th {background-position: 50% 85.07462687%;}
.app__mt2__country__tj {background-position: 50% 85.5721393%;}
.app__mt2__country__tl {background-position: 50% 86.06965174%;}
.app__mt2__country__tm {background-position: 50% 86.56716418%;}
.app__mt2__country__tn {background-position: 50% 87.06467662%;}
.app__mt2__country__to {background-position: 50% 87.56218905%;}
.app__mt2__country__tr {background-position: 50% 88.05970149%;}
.app__mt2__country__tt {background-position: 50% 88.55721393%;}
.app__mt2__country__tv {background-position: 50% 89.05472637%;}
.app__mt2__country__tw {background-position: 50% 89.55223881%;}
.app__mt2__country__tz {background-position: 50% 90.04975124%;}
.app__mt2__country__ua {background-position: 50% 90.54726368%;}
.app__mt2__country__ug {background-position: 50% 91.04477612%;}
.app__mt2__country__us {background-position: 50% 91.54228856%;}
.app__mt2__country__uy {background-position: 50% 92.039801%;}
.app__mt2__country__uz {background-position: 50% 92.53731343%;}
.app__mt2__country__va {background-position: 50% 93.03482587%;}
.app__mt2__country__vc {background-position: 50% 93.53233831%;}
.app__mt2__country__ve {background-position: 50% 94.02985075%;}
.app__mt2__country__vn {background-position: 50% 94.52736318%;}
.app__mt2__country__vu {background-position: 50% 95.02487562%;}
.app__mt2__country__wl {background-position: 50% 95.52238806%;}
.app__mt2__country__world {background-position: 50% 96.0199005%;}
.app__mt2__country__ws {background-position: 50% 96.51741294%;}
.app__mt2__country__xk {background-position: 50% 97.01492537%;}
.app__mt2__country__xx {background-position: 50% 97.51243781%;}
.app__mt2__country__ye {background-position: 50% 98.00995025%;}
.app__mt2__country__za {background-position: 50% 98.50746269%;}
.app__mt2__country__zm {background-position: 50% 99.00497512%;}
.app__mt2__country__zw {background-position: 50% 99.50248756%;}
.app__mt2__country__zz {background-position: 50% 96.0199005%;}